<div class="title">
  <h2>レシピ詳細</h2>
</div>

<div class="recipe">
  <p><%= @recipe.cooking_name %></p>
  <p><%= attachment_image_tag @recipe, :recipe_image %></p>
  <p><%= @recipe.recipe_content %></p>
</div>