  <table class="table my-5">
    <% if users.exists? %>
      <thead>
        <tr>
          <th scope="col">ユーザー名</th>
          <th scope="col">レシピ投稿数</th>
          <th scope="col">レビュー投稿数</th>
        </tr>
      </thead>
      <% users.each do |user| %>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(user) do %>
                <%= user.name %>
              <% end %>
            </td>
            <td><%= user.recipes.count %> 件</td>
            <td><%= user.reviews.count %> 件</td>
          </tr>
        </tbody>
      <% end %>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
  </table>

